/*#d90511 #111111 #999999*/

/* font */
@font-face{
    font-family: imbPlex;
    src: url(assets/IBM_Plex_Sans/IBMPlexSans-Regular.ttf);
}
* {
    font-family: imbPlex;
    color:#999999;
}
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color:#111111;
}
h1{
    margin: 0%;
}
ul {
    margin: 0%;
    padding: 0%;
    list-style-type: none;
}
a {
    text-decoration: none;
}


/* header*/
header {
    position: relative;
    height: 10vh;
    width: 100%;    
    background-color:#111111;
}
/* title */
header .title { 
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    left: 0%;
    top: 50%;
    transform: translate(0, -50%);
    padding-left: 2.1%;    
}
header .title a{
    font-size: 4.5vh;
}

/* menu */
header .menu {
    position: absolute;
    display: flex;
    height: 100%;
    align-items: center;
    right: 0%;
    top: 50%;
    transform: translate(0, -50%);
    padding-right: 2.1%;
}
header .menu ul{
    display: flex;
    min-width: fit-content;
    gap: 2vw;
}
header .menu ul li {
    position: relative;
    white-space: nowrap;
    font-size: 2.8vh;
}
header .menu ul li a:hover{
    color: #d90511;
}

/*.bg {
    margin: 0%;
    min-width: 100%;
    min-height: 100%
}*/


@media (max-width: 1100px) {

}